[% PROCESS methods.tmpl %]
[% INCLUDE header.tmpl page_title="Trigger Page"
   navigation=[ { url => 'trigger/', name => 'Triggers' },
                { name => trigger.name },
              ]
%]

[% IF c.is_admin %]
<div id="actions">
<h2>Actions</h2>
<form action="[% c.url('trigger/' _ trigger.name) %]" method="post">
<p><input type="submit" value="Delete Trigger">
<input type="hidden" name="_method" value="delete"></p>
</form>
[% INCLUDE admin_actions %]
</div> <!-- end actions -->
[% END %]

<h1>Trigger [% trigger.name | html %]</h1>

[% IF c.is_admin %]
<form action="[% c.url('trigger/' _ trigger.name) %]" method="post">
[% END %]
<table id="triggermeta">
  <tbody>
    <tr>
[% IF c.is_admin %]
      <th><label for="name">Name:</label></th>
      <td><input type="text" name="name" size="80" value="[% trigger.name | html %]"></td>
    </tr>
    <tr>
      <th><label for="method">Method:</label></th>
      <td>[% INCLUDE trigger_method select_name="method" selected=trigger.method %]</td>
    </tr>
    <tr>
      <th><label for="uri">URI:</label></th>
      <td><input type="text" name="uri" size="80" value="[% trigger.uri | html %]"></td>
[% ELSE %]
      <th>Method:</th>
      <td>[% trigger.method %]</td>
    </tr>
    <tr>
      <th>URI:</th>
      <td>[% trigger.uri | html %]</td>
[% END %]
    </tr>
  </tbody>
</table>

<h2>URI variables</h2>

<p>You can use variables in the URI, which will be replaced when calling the trigger. The following variables are availble:</p>

<dl>
  <dt>%name</dt>
  <dd>Full name of the repository, e.g. <tt>axg/core/confd.git</tt></dd>
  <dt>%rid</dt>
  <dd>Numeric id of the repository, e.g. <tt>147</tt></dd>
  <dt>%ssh</dt>
  <dd>Value of configuration setting <tt>links.ssh</tt></dd>
  <dt>%daemon</dt>
  <dd>Value of configuration setting <tt>links.daemon</tt></dd>
  <dt>%ref</dt>
  <dd>Name of the updated ref, e.g. <tt>refs/heads/master</tt></dd>
  <dt>%old_cid</dt>
  <dd>SHA1 ID of the updated ref before the update. If the ref was newly created, contains <tt>0000000000000000000000000000000000000000</tt></dd>
  <dt>%new_cid</dt>
  <dd>SHA1 ID of the updated ref after the update. If the ref was deleted, contains <tt>0000000000000000000000000000000000000000</tt></dd>
  <dt>%user</dt>
  <dd>User that updated the ref</dd>
</dl>

<p><em>NB: When a trigger is associated with a mirror repository, the trigger will only be called once when any branches where updated, not once per ref. In this case <var>%ref</var> will be <tt>refs/heads/master</tt>, both <var>%old_cid</var> and <var>%new_cid</var> will be <tt>0000000000000000000000000000000000000000</tt>, and <var>%user</var> will be <tt>gitadm</tt>.</em></p>

[% IF c.is_admin %]
<h2>Repositories</h2>

<p>[% INCLUDE repo_chooser select_name="repos" selected=DBIxRel(trigger.repos) %]</p>

<p><input type="submit" value="Apply Changes"></p>
</form>

[% ELSE %]

[% FOREACH r IN DBIxRel(trigger.repos).sort('name') %]
[% '<p>The trigger is activated for the following repositories:</p><ul>' IF loop.first() %]
<li><a href="[% c.url('repo/' _ r.name()) %]">[% r.name() | html %]</a></li>
[% '</ul>' IF loop.last() %]
[% END %]

[% END %]

[% INCLUDE footer.tmpl %]
