[% INCLUDE header.tmpl page_title="Homepage" %]

<h1>GitWebAdmin</h1>

<p>Welcome to GitWebAdmin, your interface to the
<a href="http://git-scm.org/">Git</a> repositories of
[% c.cfg('branding').organisation %].</p>

<h2>Repositories</h2>

<p>The following repositories are available:</p>
<table id="repolist">
  <thead>
    <tr>
      <th><a href="?sort_by=name#repolist">Repository</a></th>
      <th><a href="?sort_by=owner#repolist">Owner</a></th>
      <th><a href="?sort_by=descr#repolist">Description</a></th>
    </tr>
  </thead>
  <tbody>
  [% FOREACH r IN repos.all %]
  <tr>
    <td><a href="[% c.url('repo/' _ r.name()) %]">[% r.name() %]</a></td>
    <td><a href="[% c.url('user/' _ r.owner().uid()) %]">[% r.owner().name() %]</td>
    <td>[% r.descr() | html %]</td>
  </tr>
  [% END %]
  </tbody>
</table>

[% INCLUDE footer.tmpl %]
