[% INCLUDE header.tmpl page_title="Homepage" %]

<h1>GitWebAdmin</h1>

<p>Welcome to GitWebAdmin, your interface to the
<a href="http://git-scm.org/">Git</a> repositories of
[% c.cfg('branding').organisation %].</p>

<h2>Your User Page</h2>

<p>You can administrate your private repositories and your subscriptions
from your <a href="[% c.url('user/' _ c.param('user')) %]">User Page</a>.
</p>

<h2><a href="[% c.url('repo/') %]">Repositories</a></h2>

<p>The following repositories are available:</p>
<table id="repolist">
  <thead>
    <tr>
      <th><a href="?sort_by=name#repolist">Repository</a></th>
      <th><a href="?sort_by=owner#repolist">Owner</a></th>
      <th><a href="?sort_by=descr#repolist">Description</a></th>
    </tr>
  </thead>
  <tbody>
  [% FOREACH r IN DBIxRel(repos.all) %]
  <tr>
    <td><a href="[% c.url('repo/' _ r.name) | html %]">[% r.name | html %]</a></td>
    <td><a href="[% c.url('user/' _ r.owner.uid) %]">[% r.owner.name | html %]</td>
    <td>[% r.descr | html %]</td>
  </tr>
  [% END %]
  </tbody>
</table>

<h2><a href="[% c.url('group/') %]">Groups</a>
  and <a href="[% c.url('user/') %]">Users</a></h2>

[% FOREACH g IN DBIxRel(groups.all).sort('name') %]
[% '<p>The following groups are defined:</p><ul>' IF loop.first() %]
  <li><a href="[% c.url('group/' _ g.gid()) %]">[% g.name() | html %]</a></li>
[% '</ul>' IF loop.last() %]
[% END %]

[% FOREACH u IN DBIxRel(users.all).sort('name') %]
[% '<p>The following users are known:</p><ul>' IF loop.first() %]
  <li><a [% 'class="inactive"' UNLESS u.active %] href="[% c.url('user/' _ u.uid()) %]">[% u.name() | html %]</a></li>
[% '</ul>' IF loop.last() %]
[% END %]

[% INCLUDE footer.tmpl %]
