[% PROCESS methods.tmpl %]
[% INCLUDE header.tmpl page_title="User Page"
   navigation=[ { url => 'user/', name => 'Users' },
                { name => user.uid }
              ]
%]
[% BLOCK yes_no %]
  [% IF switch %]
  <span class="yes">yes</span>
  [% ELSE %]
  <span class="no">no</span>
  [% END %]
[% END %]

[% IF c.is_admin %]
<div id="actions">
[% INCLUDE admin_actions %]
</div> <!-- end actions -->
[% END %]

<h1>User [% user.name | html %]</h1>

<table id="usermeta">
  <tbody>
    <tr>
      <th>Mail:</th>
      <td><a href="mailto:[% user.mail %]">[% user.mail %]</a></td>
    </tr>
    <tr>
      <th>Admin:</th>
      <td>[% INCLUDE yes_no switch=user.admin %]</td>
    </tr>
  </tbody>
</table>

[% IF c.is_admin %]
  <form action="[% c.url('user/' _ user.uid _ '/groups') %]" method="post">
  <p><label for="groups">Member of the following groups:</label></p>
  <p>[% PROCESS group_chooser select_name='groups' selected=DBIxRel(user.groups) %]</p>
  <p><input type="submit" value="Change Groups"></p>
  </form>
[% ELSE %]
  [% FOREACH g IN DBIxRel(user.groups).sort('name') %]
    [% '<p>Member of the following groups:</p><ul>' IF loop.first() %]
    <li><a href="[% c.url('group/' _ g.gid()) %]">[% g.name() | html %]</a></li>
    [% '</ul>' IF loop.last() %]
  [% END %]
[% END %]

[% FOREACH r IN DBIxRel(user.repo).sort('name') %]
[% '<p>Owner of the following repositories:</p><ul>' IF loop.first() %]
<li><a href="[% c.url('repo/' _ r.name()) %]">[% r.name() | html %]</a>[% IF r.private %] (private)[% END %]</li>
[% '</ul>' IF loop.last() %]
[% END %]

[% IF c.is_admin || (c.param('user') == user.uid) %]
  <form action="[% c.url('user/' _ user.uid _ '/subscriptions') %]" method="post">
    <p><label for="subscribtions">Subscribed to the following repositories:</label></p>
    <p>[% PROCESS repo_chooser select_name='subscriptions' selected=DBIxRel(user.subscribed_repos) %]</p>
    <p><input type="submit" value="Change Subscriptions"></p>
  </form>
[% ELSE %]
  [% FOREACH r IN DBIxRel(user.subscribed_repos) %]
  [% '<p>Subscribed to the following repositories:</p><ul>' IF loop.first %]
    <li><a href="[% c.url('repo/' _ r.name) %]">[% r.name | html %]</a></li>
    [% '</ul>' IF loop.last %]
  [% END %]
[% END %]

[% IF c.param('user') == user.uid %]
<p><label for="pubkey">Public Key for SSH access:</label></p>
<form method="post" action="[% c.url('user/' _ user.uid _ '/key') %]">
  <p><textarea name="pubkey" cols="80" rows="10">[% user.key %]</textarea></p>
  <p><input type="submit" value="Submit"></p>
</form>
[% END %]

[% INCLUDE footer.tmpl %]
