<div id="footer">
  <p>Copyright 2009 [% c.cfg('branding').organisation %]. All Rights Reserved.</p>
  <p>Maintained by
    <a href="mailto:[% c.cfg('admin').email %]">[% c.cfg('admin').name %]</a></p>
</div> <!-- end footer -->
</div> <!-- end outer -->

</body>
</html>
