[gitosis]
daemon = [% gitosis.daemon %]
gitweb = [% gitosis.gitweb %]
loglevel = [% gitosis.loglevel %]

[% FOREACH g IN groups.keys.sort %]
[group [% g %]]
writable = [% groups.$g.writable.join(' ') %]
readable = [% groups.$g.readable.join(' ') %]
members  = [% groups.$g.members.join(' ')  %]
[% END %]

[% FOREACH r IN repos.keys.sort %]
[repo [% r %]]
description = [% repos.$r.description %]
owner       = [% repos.$r.owner       %]
daemon      = [% repos.$r.daemon      %]
gitweb      = [% repos.$r.gitweb      %]
[% END %]
