[gitosis]
daemon = [% gitosis.daemon %]
gitweb = [% gitosis.gitweb %]
loglevel = [% gitosis.loglevel %]

[% FOREACH g IN groups.keys.sort %]
[group [% g %]]
writable = [% groups.$g.writable.sort.join(' ') %]
readable = [% groups.$g.readable.sort.join(' ') %]
members  = [% groups.$g.members.sort.join(' ')  %]
[% END %]

[% FOREACH r IN repos.keys.sort %]
[repo [% r %]]
description = [% repos.$r.description %]
owner       = [% repos.$r.owner       %]
daemon      = [% repos.$r.daemon      %]
gitweb      = [% repos.$r.gitweb      %]
default_branch = [% repos.$r.branch   %]
[% IF repos.$r.forkof %]forkof      = [% repos.$r.forkof %][% END %]
[% END %]
