[% PROCESS methods.tmpl %]
[% SET nav = [ { url => 'logs/', name => 'Logs' } ];
   nav.push({ name => repo.name });
   INCLUDE header.tmpl page_title="Branch List"
   navigation=nav
%]

<div id="actions">
[% INCLUDE admin_actions %]
</div> <!-- end actions -->

<h1>Branches in [% repo.name | html %]</h1>

<table>
  <thead>
    <tr>
      <th>Branch</th>
      <th>Commit</th>
    </tr>
  </thead>
  <tbody>
[% FOREACH b IN DBIxRel(branches.all) %]
    <tr>
      <td><a href="[% c.url('logs/repo/' _ repo.id _ '/branch/' _ b.branch) | html %]">[% b.branch %]</td>
      <td>[% INCLUDE gitweb_commit repo=b.rid.name commit=b.commit %]</td>
[% END %]
  </tbody>
</table>


[% INCLUDE footer.tmpl %]
